;
; FTP Server ver 0.2
;
; written by caspar /CookieCrK/ in win32asm
;
; caspar@polishscene.dhs.org || caspar@ae.pl
; http://www.cookiecrk.org
;


#define IDC_LOGFILE 1000
#define IDC_ANAME 1001
#define IDC_APASS 1002
#define IDC_ANON 2000
#define IDC_LOG 2001
#define IDC_OK 3000
#define IDC_REFRESH 3001
#define IDC_EDIT 3002
#define IDC_NEW 3003
#define IDC_DELETE 3004
#define IDC_LIST 4000
#define IDC_ULIST 4001
#define IDC_ALIST 4002

#define IDI_ICON 8000


#define IDR_MENU 3000

#define IDM_ONLINE 32000
#define IDM_USERS 32001
#define IDM_CLEAR 32002
#define IDM_EXIT 32003
#define IDM_ACCOUNTS 32004
#define IDM_OPTIONS 32005
#define IDM_ABOUT 32006

IDI_ICON ICON "Visitors.ico"


Dialog DIALOG 100, 100, 398, 248
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX | WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK 
CAPTION "FTP Server Engine by caspar v 0.2"
FONT 8, "MS Sans Serif"
MENU IDR_MENU
{

	LISTBOX IDC_LIST, 1, 2, 396, 242, WS_BORDER | WS_TABSTOP | WS_VSCROLL | LBS_NOTIFY

}


About DIALOG 85, 75, 200, 100
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK 
CAPTION "About FTP Server Engine by caspar"
FONT 8, "MS Sans Serif"
{

	GROUPBOX "", 1000, 5, 5, 32, 36
	ICON IDI_ICON, -1, 10, 15, 16, 16

	LTEXT "     FTP Server Engine v 0.2", -1, 70, 8, 96, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "written by caspar in Win32asm", -1, 70, 18, 96, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "     CookieCrK group member", -1, 70, 28, 96, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "             caspar@ae.pl", -1, 70, 38, 96, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "our webpage at http://www.cookiecrk.org", -1, 5, 80, 105, 20, WS_CHILD | WS_VISIBLE | WS_GROUP


	DEFPUSHBUTTON "OK", IDC_OK, 150, 82, 40, 12

}


Users DIALOG 85, 75, 200, 106
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK 
CAPTION "Connected users"
FONT 8, "MS Sans Serif"
{

	LISTBOX IDC_ULIST, 1, 2, 198, 80, WS_BORDER | WS_TABSTOP | WS_VSCROLL | LBS_NOTIFY
	DEFPUSHBUTTON "OK", IDC_OK, 150, 88, 40, 12

}


Accounts DIALOG 120, 60, 160, 112
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK 
CAPTION "Accounts"
FONT 8, "MS Sans Serif"
{

	LTEXT "Accounts", -1, 5, 5, 96, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
	LISTBOX IDC_ALIST, 5, 15, 100, 90, WS_BORDER | WS_TABSTOP | WS_VSCROLL | LBS_NOTIFY
	PUSHBUTTON "New", IDC_NEW, 115, 15, 40, 12
	PUSHBUTTON "Delete", IDC_DELETE, 115, 35, 40, 12
	PUSHBUTTON "Edit", IDC_EDIT, 115, 55, 40, 12
	DEFPUSHBUTTON "OK", IDC_OK, 115, 90, 40, 12

}


EditU DIALOG 20, 15, 115, 65
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK 
CAPTION "Edit"
FONT 8, "MS Sans Serif"
{

	LTEXT "Name", -1, 5, 5, 96, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_ANAME, "EDIT", WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL, 5, 15, 50, 12
	LTEXT "Password", -1, 5, 35, 96, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_APASS, "EDIT", WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL, 5, 45, 50, 12
	DEFPUSHBUTTON "OK", IDC_OK, 65, 45, 40, 12

}


Options DIALOG 85, 75, 200, 100
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK 
CAPTION "General server options"
FONT 8, "MS Sans Serif"
{

	CHECKBOX "Allow Anonymous users", IDC_ANON, 20, 10, 100, 15, BS_AUTOCHECKBOX | WS_TABSTOP
	CHECKBOX "Log to file", IDC_LOG, 20, 25, 100, 15, BS_AUTOCHECKBOX | WS_TABSTOP

	EDITTEXT IDC_LOGFILE, 20, 40, 160, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL

	DEFPUSHBUTTON "OK", IDC_OK, 150, 82, 40, 12

}


IDR_MENU MENU
{
	POPUP "&File"
	{
	MENUITEM "&On-line", IDM_ONLINE
	MENUITEM "Connected &Users", IDM_USERS
	MENUITEM "&Clear", IDM_CLEAR
	MENUITEM SEPARATOR
	MENUITEM "&Exit", IDM_EXIT
	}

	POPUP "&Config"
	{
	MENUITEM "&Accounts", IDM_ACCOUNTS
	MENUITEM "&Options", IDM_OPTIONS
	}

	POPUP "&Help"
	{
	MENUITEM "&About", IDM_ABOUT
	}
}

